.center-col {
    place-items: center;
}

.MainClass {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 5rem;
    background-color: #d9edff;
    color: #000000;
}

.starter-template {
    padding: 1.5rem 1.5rem;
}

.TAC {
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
    flex-wrap: inherit;
}

#NavFont {
    font-size: medium;
}


body {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    font-size: 22px;
    line-height: 1.5;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.67em 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

p {
    font-size: 1em;
}

img {
    max-width: 100%;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

video {
    max-width: 100%;
}

hr {
    border: none;
    border-top: 4px solid #e8e8e8;
    width: 90%;
    margin: 0 auto;
}

embed {
    width: 100%;
}

.custom-quote-box {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 10px;
}

.custom-quote-box p {
    margin: 0;
}

.custom-quote-box b,
.custom-quote-box strong {
    color: #195eff;
}

.img-caption {
    margin: 0;
    font-size: 0.7em;
    text-align: center;
    color: #000000;
}

.col-2-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.col-2-40 {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 20px;
}

#main-header {
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
}

#main-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    filter: brightness(30%);
    z-index: -1;
}

#main-header-content {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    color: white;
    height: 100%;
}

#header-text {
    align-self: center;
    text-align: center;
    font-family: "Playfair Display", serif;
}

#header-text h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
}

#header-text p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
}

#header-img-citation {
    margin: 0 10px;
    text-align: end;
    font-size: 0.7em;
}

#next-sect-bottom-nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 12px 20px;
}

#prev-sect-bottom-nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 12px 20px;
}

.auto-nav {
    display: flex;
    justify-content: center;
}

#ik53a {
    width: 100%;
}

#i2kwp {
    padding: 10px;
}

#bottom-nav {
    display: grid;
    padding: 0;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
}

#next-sect-bottom-nav {
    margin: 0;
    display: flex;
    place-items: center;
    justify-self: end;
    background: #e8e8e8;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

#next-sect-bottom-nav:hover {
    background: #dbdbdb;
}

#next-sect-bottom-nav:active {
    background: #cfcfcf;
}

#prev-sect-bottom-nav {
    margin: 0;
    display: flex;
    place-items: center;
    justify-self: start;
    background: none;
    border-radius: 7px;
    border: 2px solid #e8e8e8;
    cursor: pointer;
}

#prev-sect-bottom-nav:hover {
    background: #dbdbdb;
    border: 2px solid transparent;
}

#prev-sect-bottom-nav:active {
    background: #cfcfcf;
    border: 2px solid transparent;
}

#i1r8v {
    text-align: center;
}

#ixvsj {
    font-size: 3em;
}

#id1vv {
    font-size: 2.7em;
}

#itzrc {
    font-size: 0.7em;
}

#ishfl {
    padding: 10px;
}

#iollg {
    height: 413px;
}